
<div style="text-align:right">
  <h1 class="ml5" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
    <span class="text-wrapper">
      <span class="line line1"></span>
      <span class="letters letters-left">Created </span>
      <span class="letters ampersand">By</span><br>
      <span class="line line2"></span>
    </span>
  </h1>
<div class="container">
  <div class="item item-1"><img class="fit-picture"
    src="../assets/images/"
    alt="ECHO STUDIOS"></div>
  <div class="item item-2"></div>
  <div class="item item-3"></div>
</div>
  <div id="menu-bar"></div>
  <a class="menuIcon" (click)="menuClick()" routerLink="/enter-story">
    <svg class="hamburger" width="26.892" height="17.285" viewBox="0 0 26.892 17.285" >
      <g id="MenuI" data-name="Group 1" transform="translate(0 1.5)">
        <line id="topLine" data-name="Line 1" x2="26.892" fill="none" stroke="#000" stroke-width="3"/>
        <line id="midLine" data-name="Line 1" x2="26.892" transform="translate(0 7.142)" fill="none" stroke="#000" stroke-width="3"/>
        <line id="botLine" data-name="Line 1" x2="26.892" transform="translate(0 14.285)" fill="none" stroke="#000" stroke-width="3"/>
      </g>
    </svg>
  </a>
</div>
<router-outlet></router-outlet>
