
.item-1{
	grid-column-start: 2;
	grid-column-end: five;
	grid-row-start: row1-start;
	grid-row-end: 3;
}

h1 { 
    font: italic 1.4em georgia, sans-serif;
	letter-spacing: 3px; 
	margin-bottom: 0; 
	color: white;
    background-color: #686868;
    margin-top: 0px;
	display: block;
	float: center;
	}

#menu-bar {
	background-color: #686868;
	color: white;
	}